<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key><string>club.new-bee.social-stats-mail</string>
  <key>ProgramArguments</key>
  <array><string>__APP_DIR__/deploy/macmini/run-report.sh</string></array>
  <key>WorkingDirectory</key><string>__APP_DIR__</string>
  <key>StartCalendarInterval</key>
  <dict><key>Hour</key><integer>14</integer><key>Minute</key><integer>30</integer></dict>
  <key>StandardOutPath</key><string>__LOG_DIR__/report.log</string>
  <key>StandardErrorPath</key><string>__LOG_DIR__/report-error.log</string>
</dict>
</plist>
